<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lying.examplemybatis.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.lying.examplemybatis.domain.User">
        <result property="id" column="id"/>
        <result property="name" column="user_name"/>
        <result property="age" column="age"/>
        <result property="address" column="address"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, user_name, age, address
    </sql>

    <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        from user WHERE user_name = #{userName}
    </select>
</mapper>